### <font color ='purple'> Import des bibliothèques </font>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import xlrd

In [2]:
# Quand le format xlsx n'est pas supporté 
#pip install openpyxl
#changer le moteur d'ouverture du fichier excel avec engine='openpyxl'

In [3]:
df = pd.read_excel('base_atri_partie1.xlsx', engine = 'openpyxl')

In [4]:
df.head()

,ID_Part_anonymisé,CD_CLI_PROSP,CT_PART,AGE_ANC_PART,DT_NAIS_CREAT,departement,departement.1,DT_IN_REL,DF_REL,DD_PROSP,...,NB_ASS_VIE_RENTE,enfant_client,ID_PART3,CD_SS_STATU_MTF_CNTCT1,CD_STATU_MTF_CNTCT1,offre_25AN,ID_PART2,CD_SS_STATU_MTF_CNTCT,CD_STATU_MTF_CNTCT,offre_18AN
0,9901,P,PP,25,1995-09-22,Ardennes,GE,2005-01-06,2020-06-11,11Jun2020,...,0.0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,0
1,9902,P,PP,25,1995-09-22,Ardennes,GE,2005-01-06,2020-06-11,11Jun2020,...,0.0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,0
2,9903,C,PP,24,1996-06-29,Moselle,GE,1997-01-01,NaT,NaN,...,0.0,1,9903.0,TR,TR,1,NaN,NaN,NaN,0
3,9904,C,PP,25,1995-07-10,Meuse,GE,2007-08-10,NaT,NaN,...,0.0,1,NaN,NaN,NaN,0,NaN,NaN,NaN,0
4,9905,C,PP,25,1995-07-10,Meuse,GE,2007-08-10,NaT,NaN,...,0.0,1,9905.0,NaN,PE,1,NaN,NaN,NaN,0

In [5]:
df.shape

(37959, 109)

In [6]:
df.columns

Index(['ID_Part_anonymisé', 'CD_CLI_PROSP', 'CT_PART', 'AGE_ANC_PART',
       'DT_NAIS_CREAT', 'departement', 'departement.1', 'DT_IN_REL', 'DF_REL',
       'DD_PROSP',
       ...
       'NB_ASS_VIE_RENTE', 'enfant_client', 'ID_PART3',
       'CD_SS_STATU_MTF_CNTCT1', 'CD_STATU_MTF_CNTCT1', 'offre_25AN',
       'ID_PART2', 'CD_SS_STATU_MTF_CNTCT', 'CD_STATU_MTF_CNTCT',
       'offre_18AN'],
      dtype='object', length=109)

- #### Supprimer les varaibles qui ont servis à la construction de la base de données tels que Date d'entrée en relation, date de fin de relation,...

In [21]:
df1 = df[['ID_Part_anonymisé','AGE_ANC_PART','departement.1','Age','Attrition','SITU_FAM_AVAN',
         'CD_SEX','situ_pro','NB_CONTRAT_BAQ','NB_CONTRAT_Ass','NB_CONTRAT_eprgn','NB_CONTRAT_cred','NB_CONX_BAM_12M',
         'NB_CONX_BAM_1M','NB_CONX_BAM_3M','NB_CONX_INET_MOBL_12M','NB_CONX_INET_MOBL_1M','NB_CONX_INET_MOBL_3M',
         'NB_MSG_LU_BAM_SECU_12M','NB_OPERN_AG_1M','NB_OPERN_AG_3M','NB_OPERN_AG_12M','NB_OPERN_AG_FIN_1M',
         'NB_OPERN_AG_FIN_3M','NB_OPERN_AG_FIN_12M','NB_OPERN_AG_WEB_1M','NB_OPERN_AG_WEB_3M','NB_OPERN_AG_WEB_12M',
         'MT_1','MT_2','MT_3','MT_4','MT_5','MT_6','MT_7','MT_8','MT_9','MT_10','MT_11','MT_12','NB_DAV',
         'NB_OC_DEC_AUTOR','NB_CRDT_HABIT','NB_PEL_CAR_BLEU','NB_CEL_CAR_JAUNE','NB_PEL_CAR_VERT','NB_CODEBIS',
         'NB_CSL','NB_EPARGNE','NB_EP_HORS_BILAN','NB_DAT_CDN_BDC','NB_LDD','NB_LEP','NB_LIV_CEL','NB_LIV_A',
         'NB_LIV_JEUN_MOZAIC','NB_TIWI','NB_PEL_CAR_MAUVE','TOP_LIVRETS_JEUNE','NB_CAP_DEC_ABON','NB_ASS_VIE_HDG',
         'NB_ASS_VIE','NB_ESP_LIBERTE','NB_FLORIAGRI','NB_FLORIANE','NB_PEP_ASS','NB_PER_ASS','NB_PL_VERT_AVEN_ABON',
         'NB_PL_VERT_VITAL_ABON','NB_PREDIAGRI','NB_PREDIAGRI_ABON','NB_PREDIANCE','NB_PREDIANE','NB_ASS_VIE_ABON',
         'NB_PREDICIS','NB_PREDIGE','NB_CTO','NB_DAT','NB_PEA','NB_CTO_ABON','NB_PEA_ABO','NB_VERS_AVENIR','NB_PEL_CARRE',
         'NB_PL_VERT_VITAL','NB_PL_VERT_AVENIR','NB_PREDISSIME_9','NB_EP_BILAN','NB_EP_LIQUIDE','NB_EP_STABLE','NB_CSL_BOOST',
         'NB_ASS_VIE_RENTE','enfant_client','offre_25AN','offre_18AN']]

- #### Information sur le data set

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37959 entries, 0 to 37958
Data columns (total 94 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID_Part_anonymisé       37959 non-null  int64
 1   AGE_ANC_PART            37959 non-null  int64
 2   departement.1           37959 non-null  object
 3   Age                     37959 non-null  float64
 4   Attrition               37959 non-null  int64
 5   SITU_FAM_AVAN           37959 non-null  int64
 6   CD_SEX                  37959 non-null  object
 7   situ_pro                37737 non-null  object
 8   NB_CONTRAT_BAQ          36743 non-null  float64
 9   NB_CONTRAT_Ass          9811 non-null   float64
 10  NB_CONTRAT_eprgn        36463 non-null  float64
 11  NB_CONTRAT_cred         6050 non-null   float64
 12  NB_CONX_BAM_12M         35699 non-null  float64
 13  NB_CONX_BAM_1M          35699 non-null  float64
 14  NB_CONX_BAM_3M          35699 non-null  float64
 15  NB_CONX_INET_MOBL_12M   35699 non-null  float64
 16  NB_CONX_INET_MOBL_1M    35699 non-null  float64
 17  NB_CONX_INET_MOBL_3M    35699 non-null  float64
 18  NB_MSG_LU_BAM_SECU_12M  35699 non-null  float64
 19  NB_OPERN_AG_1M          35699 non-null  float64
 20  NB_OPERN_AG_3M          35699 non-null  float64
 21  NB_OPERN_AG_12M         35699 non-null  float64
 22  NB_OPERN_AG_FIN_1M      35699 non-null  float64
 23  NB_OPERN_AG_FIN_3M      35699 non-null  float64
 24  NB_OPERN_AG_FIN_12M     35699 non-null  float64
 25  NB_OPERN_AG_WEB_1M      35699 non-null  float64
 26  NB_OPERN_AG_WEB_3M      35699 non-null  float64
 27  NB_OPERN_AG_WEB_12M     35699 non-null  float64
 28  MT_1                    32147 non-null  float64
 29  MT_2                    21543 non-null  float64
 30  MT_3                    22145 non-null  float64
 31  MT_4                    22282 non-null  float64
 32  MT_5                    22610 non-null  float64
 33  MT_6                    23065 non-null  float64
 34  MT_7                    23337 non-null  float64
 35  MT_8                    23416 non-null  float64
 36  MT_9                    24100 non-null  float64
 37  MT_10                   24136 non-null  float64
 38  MT_11                   24204 non-null  float64
 39  MT_12                   24538 non-null  float64
 40  NB_DAV                  37642 non-null  float64
 41  NB_OC_DEC_AUTOR         37642 non-null  float64
 42  NB_CRDT_HABIT           0 non-null      float64
 43  NB_PEL_CAR_BLEU         37642 non-null  float64
 44  NB_CEL_CAR_JAUNE        37642 non-null  float64
 45  NB_PEL_CAR_VERT         37642 non-null  float64
 46  NB_CODEBIS              37642 non-null  float64
 47  NB_CSL                  37642 non-null  float64
 48  NB_EPARGNE              37642 non-null  float64
 49  NB_EP_HORS_BILAN        37642 non-null  float64
 50  NB_DAT_CDN_BDC          37642 non-null  float64
 51  NB_LDD                  37642 non-null  float64
 52  NB_LEP                  37642 non-null  float64
 53  NB_LIV_CEL              37642 non-null  float64
 54  NB_LIV_A                37642 non-null  float64
 55  NB_LIV_JEUN_MOZAIC      37642 non-null  float64
 56  NB_TIWI                 37642 non-null  float64
 57  NB_PEL_CAR_MAUVE        37642 non-null  float64
 58  TOP_LIVRETS_JEUNE       37642 non-null  float64
 59  NB_CAP_DEC_ABON         37642 non-null  float64
 60  NB_ASS_VIE_HDG          37642 non-null  float64
 61  NB_ASS_VIE              37642 non-null  float64
 62  NB_ESP_LIBERTE          37642 non-null  float64
 63  NB_FLORIAGRI            37642 non-null  float64
 64  NB_FLORIANE             37642 non-null  float64
 65  NB_PEP_ASS              37642 non-null  float64
 66  NB_PER_ASS              0 non-null      float64
 67  NB_PL_VERT_AVEN_ABON    37642 non-null  float64
 68  NB_PL_VERT_VITAL_ABON   37642 non-null  float64
 69  NB_PREDIAGRI            37642 non-null  float64
 70  NB_PREDIAGRI_ABON       37642 non-null  float64
 71  NB_PREDIANCE            37642 non-null  float64
 72  NB_PREDIANE             37642 non-null  float64
 73  NB_ASS_VIE_ABON         37642 non-null  float64
 74  NB_PREDICIS             37642 non-null  float64
 75  NB_PREDIGE              37642 non-null  float64
 76  NB_CTO                  37642 non-null  float64
 77  NB_DAT                  37642 non-null  float64
 78  NB_PEA                  37642 non-null  float64
 79  NB_CTO_ABON             37642 non-null  float64
 80  NB_PEA_ABO              37642 non-null  float64
 81  NB_VERS_AVENIR          37642 non-null  float64
 82  NB_PEL_CARRE            37642 non-null  float64
 83  NB_PL_VERT_VITAL        37642 non-null  float64
 84  NB_PL_VERT_AVENIR       37642 non-null  float64
 85  NB_PREDISSIME_9         37642 non-null  float64
 86  NB_EP_BILAN             37642 non-null  float64
 87  NB_EP_LIQUIDE           37642 non-null  float64
 88  NB_EP_STABLE            37642 non-null  float64
 89  NB_CSL_BOOST            37642 non-null  float64
 90  NB_ASS_VIE_RENTE        37642 non-null  float64
 91  enfant_client           37959 non-null  int64
 92  offre_25AN              37959 non-null  int64
 93  offre_18AN              37959 non-null  int64
dtypes: float64(84), int64(7), object(3)
memory usage: 27.2+ MB

- #### Toutes les varibles sont numériques sauf 3 qi sont catégorielle : le département, le genre et la proffession

In [23]:
# Voir si nous avons des données manquantes
df1.isna().sum()

ID_Part_anonymisé      0
AGE_ANC_PART           0
departement.1          0
Age                    0
Attrition              0
                    ...
NB_CSL_BOOST         317
NB_ASS_VIE_RENTE     317
enfant_client          0
offre_25AN             0
offre_18AN             0
Length: 94, dtype: int64

- ### Remplacer les valeurs manquante par des zéro

In [24]:
#Remplacer les valeurs manquantes par 0
df1.fillna(0,inplace=True)

c:\python38\lib\site-packages\pandas\core\frame.py:4147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [25]:
#df1.isna().sum()

LabelEncoder takes this:

|Sex|
|------|
| Male |
|Female|

and converts it into:

| Male| Fem | 
|-----|-----|
| 1   | 0   |
| 0   | 1   |

LabelEncoder takes this:

|    Département     |
|--------------------|
|   GE(Grand Est)    |
| HGE(Hors Grand Est)|

and converts it into:

| GE  | HGE | 
|-----|-----|
| 1   | 0   |  
| 0   | 1   |

In [26]:
# encoder le variable CD_SEX et departement et transformer la variable situ_pro en variable
df1['departement.1'].replace('GE',1,inplace=True)
df1['departement.1'].replace('HGE',0,inplace=True)
df1['CD_SEX'].replace('M',1,inplace=True)
df1['CD_SEX'].replace('F',0,inplace=True)

c:\python38\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

- #### Créer des Dummies avec la colonne profession

In [27]:
df1 = pd.concat([df1.drop('situ_pro', axis=1), pd.get_dummies(df1['situ_pro'], prefix='job')], axis=1)

In [28]:
df1.head()

,ID_Part_anonymisé,AGE_ANC_PART,departement.1,Age,Attrition,SITU_FAM_AVAN,CD_SEX,NB_CONTRAT_BAQ,NB_CONTRAT_Ass,NB_CONTRAT_eprgn,...,job_INSTITUT,job_OUVR.NON,job_OUVR.QUA,job_OUVRIER,job_PERS.SER,"job_PROF,PRO",job_PROF.ADM,job_PROF.INF,job_PROFESSI,job_SS ACT.-
0,9901,25,1,24.340426,1,1,0,10.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
1,9902,25,1,24.340426,1,1,0,10.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
2,9903,24,1,23.568977,0,1,1,1.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
3,9904,25,1,24.543583,0,1,1,8.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
4,9905,25,1,24.543583,0,1,1,8.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
#colonne avec des valeurs nulles
df1 = df1.drop(['NB_CRDT_HABIT','NB_CODEBIS','NB_CONX_INET_MOBL_3M','NB_CRDT_HABIT','NB_CODEBIS','NB_TIWI',
'NB_ASS_VIE_HDG','NB_PEP_ASS','NB_PER_ASS','NB_PL_VERT_AVEN_ABON','NB_PREDIAGRI','NB_PREDIAGRI_ABON',
'NB_PREDIANCE','NB_PREDIGE','NB_PEA_ABO','NB_PL_VERT_AVENIR','NB_CSL_BOOST'], axis = 1)

In [60]:
df1.shape

(37959, 104)

In [65]:
#supprimer les les flux aprés 6 mois comme la table validation n'a que 6 mois sur les flux
df1 = df1.drop(['MT_7','MT_8','MT_9','MT_10','MT_11','MT_12'], axis = 1)

In [90]:
# Créer les colonne max, min, moyenne et médiane des flux
flux_max = []
flux_min = []
flux_mean = []
flux_med = []
for client in range(len(df1)):
        t = (df1['MT_1'][client], df1['MT_2'][client],df1['MT_3'][client],df1['MT_4'][client],df1['MT_5'][client], df1['MT_6'][client])
        flux_max.append(max(t))
        flux_min.append(min(t))      
        flux_mean.append(np.mean(t)) 
        flux_med.append(np.median(t))

In [101]:
liste = pd.DataFrame([flux_max,flux_min,flux_mean,flux_med], index =['flux_max','flux_min','flux_mean','flux_med'])   
# table = pd.DataFrame(liste, columns = ['flux_max','flux_min','flux_mean','flux_med'], dtype = float)
# table
liste = liste.transpose()

In [104]:
liste.head()

   flux_max  flux_min    flux_mean  flux_med
0  21295.66     912.1  5070.973333  1471.435
1   2800.00       0.0   666.666667   125.000
2     70.00      10.0    20.000000    10.000
3   7110.00      30.0  1210.000000    30.000
4   1500.00       0.0   250.000000     0.000

In [116]:
colonne = np.concatenate((df1.columns,['flux_max','flux_min','flux_mean','flux_med']))
colonne

array(['ID_Part_anonymisé', 'AGE_ANC_PART', 'departement.1', 'Age',
       'Attrition', 'SITU_FAM_AVAN', 'CD_SEX', 'NB_CONTRAT_BAQ',
       'NB_CONTRAT_Ass', 'NB_CONTRAT_eprgn', 'NB_CONTRAT_cred',
       'NB_CONX_BAM_12M', 'NB_CONX_BAM_1M', 'NB_CONX_BAM_3M',
       'NB_CONX_INET_MOBL_12M', 'NB_CONX_INET_MOBL_1M',
       'NB_MSG_LU_BAM_SECU_12M', 'NB_OPERN_AG_1M', 'NB_OPERN_AG_3M',
       'NB_OPERN_AG_12M', 'NB_OPERN_AG_FIN_1M', 'NB_OPERN_AG_FIN_3M',
       'NB_OPERN_AG_FIN_12M', 'NB_OPERN_AG_WEB_1M', 'NB_OPERN_AG_WEB_3M',
       'NB_OPERN_AG_WEB_12M', 'MT_1', 'MT_2', 'MT_3', 'MT_4', 'MT_5',
       'MT_6', 'NB_DAV', 'NB_OC_DEC_AUTOR', 'NB_PEL_CAR_BLEU',
       'NB_CEL_CAR_JAUNE', 'NB_PEL_CAR_VERT', 'NB_CSL', 'NB_EPARGNE',
       'NB_EP_HORS_BILAN', 'NB_DAT_CDN_BDC', 'NB_LDD', 'NB_LEP',
       'NB_LIV_CEL', 'NB_LIV_A', 'NB_LIV_JEUN_MOZAIC', 'NB_PEL_CAR_MAUVE',
       'TOP_LIVRETS_JEUNE', 'NB_CAP_DEC_ABON', 'NB_ASS_VIE',
       'NB_ESP_LIBERTE', 'NB_FLORIAGRI', 'NB_FLORIANE',
       'NB_PL_VERT_VITAL_ABON', 'NB_PREDIANE', 'NB_ASS_VIE_ABON',
       'NB_PREDICIS', 'NB_CTO', 'NB_DAT', 'NB_PEA', 'NB_CTO_ABON',
       'NB_VERS_AVENIR', 'NB_PEL_CARRE', 'NB_PL_VERT_VITAL',
       'NB_PREDISSIME_9', 'NB_EP_BILAN', 'NB_EP_LIQUIDE', 'NB_EP_STABLE',
       'NB_ASS_VIE_RENTE', 'enfant_client', 'offre_25AN', 'offre_18AN',
       'job_0', 'job_ COMMERC', 'job_ PROF.SA', 'job_AG PUBLI',
       'job_ANC.ARTI', 'job_ARTISANS', 'job_CADRE AD', 'job_CADRE FO',
       'job_CHOMEUR', 'job_CONTREMA', 'job_ELEVES-E', 'job_EMPL.ADM',
       'job_EMPL.CIV', 'job_EMPLOYE', 'job_F.PUBLIQ', 'job_INGEN.CA',
       'job_INSTITUT', 'job_OUVR.NON', 'job_OUVR.QUA', 'job_OUVRIER',
       'job_PERS.SER', 'job_PROF,PRO', 'job_PROF.ADM', 'job_PROF.INF',
       'job_PROFESSI', 'job_SS ACT.-', 'flux_max', 'flux_min',
       'flux_mean', 'flux_med'], dtype=object)

In [118]:
table = np.concatenate((df1,liste), axis = 1)
table1 = pd.DataFrame(table, columns = colonne)
table1.head()

,ID_Part_anonymisé,AGE_ANC_PART,departement.1,Age,Attrition,SITU_FAM_AVAN,CD_SEX,NB_CONTRAT_BAQ,NB_CONTRAT_Ass,NB_CONTRAT_eprgn,...,job_PERS.SER,"job_PROF,PRO",job_PROF.ADM,job_PROF.INF,job_PROFESSI,job_SS ACT.-,flux_max,flux_min,flux_mean,flux_med
0,9901.0,25.0,1.0,24.340426,1.0,1.0,0.0,10.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,21295.66,912.1,5070.973333,1471.435
1,9902.0,25.0,1.0,24.340426,1.0,1.0,0.0,10.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2800.00,0.0,666.666667,125.000
2,9903.0,24.0,1.0,23.568977,0.0,1.0,1.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,70.00,10.0,20.000000,10.000
3,9904.0,25.0,1.0,24.543583,0.0,1.0,1.0,8.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7110.00,30.0,1210.000000,30.000
4,9905.0,25.0,1.0,24.543583,0.0,1.0,1.0,8.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1500.00,0.0,250.000000,0.000

In [119]:
table1.isna().sum()

ID_Part_anonymisé    0
AGE_ANC_PART         0
departement.1        0
Age                  0
Attrition            0
                    ..
job_SS ACT.-         0
flux_max             0
flux_min             0
flux_mean            0
flux_med             0
Length: 102, dtype: int64

In [122]:
table1.shape

(37959, 102)

In [125]:
# Enregistrer la BDD néttoyé
table1.to_csv('BDD_nettoyé.csv',encoding='utf-8')